@model PagedList.IPagedList<PPCRental.Models.PROPERTY>
@using PagedList.Mvc;


@foreach (var item in Model)
{
    <li>

        <a href="#">
            <img src="~/img/property/@item.Avatar" alt="" title="" class="property_img" />
        </a>
        <span class="price">@item.Price VND</span>
        <div class="property_details">
            <h1>
                <a href="#">@item.PropertyName</a>
            </h1>
            <h2>@item.Content.Substring(0,100)... @*<span class="property_size">(288ftsq)</span>*@</h2>
        </div>
    </li>
}
<li class=" pagenumber">
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/ @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Getpaging", new { page }),
  PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "property" }))
</li>




